[submodule "src/uwb_interfaces"]
	path = src/uwb_interfaces
	url = https://github.com/vacabun/uwb_interfaces.git
[submodule "src/ros_uwb_bridge"]
	path = src/ros_uwb_bridge
	url = https://github.com/vacabun/ros_uwb_bridge.git
[submodule "src/uwb_control"]
	path = src/uwb_control
	url = https://github.com/vacabun/uwb_control.git
[submodule "src/px4_msgs"]
	path = src/px4_msgs
	url = https://github.com/PX4/px4_msgs
[submodule "src/microxrcedds_agent"]
	path = src/microxrcedds_agent
	url = https://github.com/eProsima/Micro-XRCE-DDS-Agent.git
[submodule "src/uwb_locate"]
	path = src/uwb_locate
	url = https://github.com/vacabun/uwb_locate.git
[submodule "src/px4_uwb_locate"]
	path = src/px4_uwb_locate
	url = https://github.com/vacabun/PX4-UWB-Locate.git
[submodule "src/px4_locate_bridge"]
	path = src/px4_locate_bridge
	url = https://github.com/vacabun/px4_locate_bridge.git
